
.onhover:hover {
    outline: none !important;
    border: none !important;
}

.onhover:focus {
    background-color: #ffffff !important;
    outline: none !important;
    border: none !important;
}
h1,h2,h3,h4,h5,h6,p {
    cursor: default;
}
.pointer {
    cursor: pointer;
}
.scrollbar-nn {
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* Internet Explorer and Edge */
}
.scrollbar-nn::-webkit-scrollbar{
    display: none !important;
    
}

.bg-blur{
    background-color: rgb(0, 0, 0, 0.1) ;
}

