
.onhover:hover {
    outline: none !important;
    border: none !important;
}

.onhover:focus {
    background-color: #ffffff !important;
    outline: none !important;
    border: none !important;
}
h1,h2,h3,h4,h5,h6,p {
    cursor: default;
}
.pointer {
    cursor: pointer;
}